footer{
    width:100%;
    height:240px;
    display:flex;
    justify-content: center;

}

.footer-container{
    padding:0 2rem;
    display:flex;
    justify-content: space-around;
    align-items: center;
    width:1120px;
    height:auto;
    max-width:100%;


}

.footer-text-container{
    width:34%;
    font-size:18px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left:2rem;
}

.footer-image-container{
    width:33%;
    display:flex;
    margin-right:2rem;
    justify-content: flex-end;
    align-items: center;

}

.footer-image-container>a>img{
    width:10rem;
    height:10rem;
    border-radius: 50%;
}

.footer-image-container>img{
    width:10rem;
    height:10rem;
    border-radius: 50%;
    
}




@media only screen and (max-width: 968px){
    .footer-container{
        margin-top:10rem;
        width:100%;
        display:flex;
        flex-direction: column;
        gap:2rem;
        
    }

    .footer-text-container{
        width:100%;
        
    }

    .footer-image-container{
        width:100%;
       margin-right:0; /*reset the margin */
       justify-content: center;
    }
    
    

}