*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: white;
}

.gallery {
    width: 900px;
    display: flex;
    overflow-x: scroll;
} 

.gallery-container{

    max-width: 100%;
    min-width:280px;
}

.gallery div{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 10px;
    flex: none;

}

.gallery div img{
    width: 100%;
    filter: grayscale(100%);
    transition: transform 0.5s;
    min-width:60px;
}

.gallery::-webkit-scrollbar{
    display: none;
}

.gallery-wrap{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2% auto;
}

#BackBtn, #NextBtn {
    width: 40px;
    cursor: pointer;
    margin: 40px;
    max-width: 100%;
}

.gallery div img:hover {
    filter: grayscale(0);
    cursor: pointer;
    transform: scale(1.1);
}


@media only screen and (max-width: 768px){
    #BackBtn, #NextBtn{
       margin:20px;
       width:25px;
    }
}